<section class="hero">
    <h1>Catálogo de Videojuegos</h1>
    <p>
        ¡Hola! Te presento mi colección personal de videojuegos favoritos.
        Explora títulos clásicos, modernos y juegos que marcaron mi experiencia gamer.
    </p>
</section>

<section class="info-box">
    <h2 class="section-title">¿Qué es esto?</h2>
    <p>
        Esta app es un catálogo personal donde puedes explorar videojuegos
        organizados por género, año y consola. También puedes consultar detalles
        de cada juego y agregar nuevos títulos.
    </p>

    <br />

    <a class="btn-gamer" asp-controller="Catalogo" asp-action="Index">
        Ver videojuegos
    </a>
</section>