<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo Gamer</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header class="navbar-gamer">
        <div class="logo">Catálogo</div>

        <nav>
            <a asp-controller="Home" asp-action="Index">Inicio</a>
            <a asp-controller="Catalogo" asp-action="Index">Videojuegos</a>
            <a asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </nav>

        <div class="nav-buttons">
            <button>Iniciar sesión</button>
            <button>Registrarse</button>
        </div>
    </header>

    <main class="main-container">
        @RenderBody()
    </main>

    <footer class="footer-gamer">
        © 2026 - Catálogo de Videojuegos - Jorge J. Pedroza Romero
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>